{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<header>
    <div id="for_logo"><img src="{{asset('build/img/logo.svg')}}" alt="logo"></div>
    <div id="for_users">
        <a href="{{ path('app_register')}}">Inscription</a>
        <a href="{{ path('app_login')}}">Connexion</a>
    </div>
</header>

<body>
    <section>
        <button id="ingredient" class="add"><a href="{{ path('app_ingredient_index')}}">Ajouter un ingredient</a></button>
        <button id="recipe" class="add"><a href="{{ path('app_recipe_index')}}">Ajouter une recette</a></button>
        <div class="unique_recipe">
            {% for recipe in recipes %}
            <img src={{recipe.image}} alt="Picture of the recipe">
            <div class="main_infos_recipe">
                <a href="{{ path('app_recipe_show', {id: recipe.id}) }}">{{recipe.name}} </a>
                {# <h4> {{recipe.forHowManyPersons}} </h4>
                <h4> {{recipe.duration|date('Y-m-d') }} minute</h4> #}
            </div>
                {# <p> {{recipe.texte}} </p> #}
                {# <p> {{recipe.comment}} </p> #}
            {% else %}
            {% endfor %}
        </div>
    </section>
</body>

{% endblock %}
