<ul class="nav nav-underline">

        <a class="nav-link" aria-current="page" href="/"><div id="for_logo"><img class="logo" src="{{asset('build/img/logo.svg')}}" alt="logo" width="100" height="100"></div></a>

        <li class="nav-item">
            <a {% if currentRoute == 'app_index' %} class="nav-link active" {% else %} class="nav-link" {% endif %} aria-current="page" href="/">Accueil</a>
        </li>
        
        <li class="nav-item dropdown">
            <a {% if app.user %} {% if currentRoute == 'app_recipe_new' %} class="nav-link dropdown-toggle active" {% else %} class="nav-link dropdown-toggle" {% endif %} {% if currentRoute == 'app_ingredient_new' %} class="nav-link dropdown-toggle active" {% else %} class="nav-link dropdown-toggle" {% endif %} {% else %} class="nav-link dropdown-toggle disabled" {% endif %} data-bs-toggle="dropdown" role="button" aria-expanded="false">Créer</a>
            <ul class="dropdown-menu">
                <li><a {% if currentRoute == 'app_recipe_new' %} class="dropdown-item active" {% else %} class="dropdown-item" {% endif %} href="{{ path('app_recipe_new')}}">Nouvelle recette</a></li>
                <li><a {% if currentRoute == 'app_ingredient_new' %} class="dropdown-item active" {% else %} class="dropdown-item" {% endif %} href="{{ path('app_ingredient_new')}}">Nouveau ingrédient</a></li>
            </ul>
            
        </li>

        <li class="nav-item">
            <a {% if app.user %} class="nav-link disabled" {% else %} {% if currentRoute == 'app_register' %} class="nav-link active" {% else %} class="nav-link" {% endif %} {% endif %} href="{{ path('app_register') }}" aria-disabled="true">Inscription</a>
        </li>
        <li class="nav-item">
            <a {% if app.user %} class="nav-link disabled" {% else %} {% if currentRoute == 'app_login' %} class="nav-link active" {% else %} class="nav-link" {% endif %} {% endif %} href="{{ path('app_login') }}" aria-disabled="true">Connexion</a>
        </li>
        <li class="nav-item">
            <a {% if app.user %} class="nav-link" {% else %} class="nav-link disabled" {% endif %} href="{{ path('app_logout') }}">Se déconnecter</a>
        </li>

</ul>